---
Checks: >
    -*,
    modernize-*,
    readability-*,
    performance-*,
    bugprone-*,
    cppcoreguidelines-*,
    clang-analyzer-*,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -readability-magic-numbers,
    -readability-function-cognitive-complexity

WarningsAsErrors: "*"
HeaderFilterRegex: '(app|asf)/.*\.h'
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
    - key: readability-identifier-naming.VariableCase
      value: lower_case
    - key: readability-identifier-naming.FunctionCase
      value: lower_case
    - key: readability-identifier-naming.MacroDefinitionCase
      value: UPPER_CASE
    - key: readability-identifier-naming.EnumConstantCase
      value: UPPER_CASE
    - key: readability-identifier-naming.GlobalConstantCase
      value: UPPER_CASE
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: "main"
    - key: cppcoreguidelines-pro-bounds-array-to-pointer-decay.IncludeStyle
      value: llvm
